body{
    //background-image: url(images/grass_blue_sky_background.jpg);
    background-repeat: no-repeat;
    //background-position: 350px 50px;
}
.sun{
    width: 150px;
    height: 150px;
    background-color:yellow;
    border-radius: 100px;
    box-shadow: 0px 0px 30px #ff9;
    position: absolute;
    top:250px;
    left:20vw;
    transition: 2s;
}
.cow{
    background-image: url(images/ft3rail.png),
        url(images/cow.png);
    background-repeat: no-repeat;
    background-size: 300px 200px;
    width:300px;
    height:200px;
    position: absolute;
    top:1000px;
    left:15vw;
    }
.bird{
    position: absolute;

    animation-name: hahaha;
    animation-duration: 2s;
    animation-iteration-count: infinite
}
@keyframes hahaha {
    from{top: 400px;left: 13vw}
    to{top:400px;left: 75vw}
}
.windmill{
    position: absolute;
    top:580px;
    left:14vw;
}
.tower{
    position: absolute;
    top:680px;
    left:15vw;

}



.sun:hover{
    width: 10vw;
    height: 10vw;
}
